<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>student id:</b>
  <%= @student.studentid %>
</p>
<p>
  <b>nick name:</b>
  <%= @student.nickname %>
</p>
  <b>project:</b>
  <%= @student.project %>%
</p>
  <b>final:</b>
  <%= @student.finalgrade %>%
</p>
  <b>lab:</b>
  <%= @student.labgrade %>%
</p>
  <b>class:</b>
  <%= @student.classgrade %>%
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', list_path(1) %>
